@model IEnumerable<SocialBook.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]  SocialBook</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
         <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/SocialBook.style.css" asp-append-version="true" />
    </head>
</html>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="bg1">
    <img src="images/download.jpg" align="right"/>
</div>

<div class="left-sidebar">
   
    <div class="event-caset">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@* <div class="bg1">
    <img src="images/download.jpg" align="right"/>
</div>

<div class="left-sidebar">
   
    <div class="event-caset">
        <table class="table">

            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>*@