@{
    ViewData["Title"] = "Privacy";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  SocialBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialBook.style1.css" asp-append-version="true" />
</head>
<body>

<div class="start">
    <nav>
        <img src="images/logo2.png" class="logo-start">
        <a href="sign_up.html"><input type="button" value="Sign Up"/></a>
        <div class="button1">
            <a href="log_in.html"><input type="button" value="Log In"/></a>
        </div>
    </nav>

    <p>Web Application Design</p>
</div>
</body>